<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
        socket.on('sendPDF', function (data){
            console.log(" message from server = "+data);
            var url = window.URL.createObjectURL(new Blob([data]));
            alert("url is"+url);
            link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'file.pdf');
            document.body.appendChild(link);
            link.click();
            socket.emit('confirmation', "PDF Recieved");
        });
     </script>
    </head>
  <body>
    <h1>hello</h1>
 <body>
</html>
